body{

    animation: PopUp 2.45s forwards;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    text-align: center;

}

a{
    text-decoration: none;
}

button{

    font-size: 110%;
    padding: 5.35px;
    margin: 15px;
    border-radius: 70px;
    background-color: white;
    font: black;
    font-family: 'Times New Roman', Times, serif;

}

header{
    padding: 20px;
    background-color: gray;
    color: white;
    font-size: 115%;
    margin: 0px;
}

main, footer{

    color: black;
    text-align: center;
    margin: 40px;
    background-color: gray;
    font-size: 110%;
    display: block;
    border-radius: 70px;

}

input{

    padding: 25px;
    font-size: 110%;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    display: block;

}

.gridone{

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

}   

.gridtwo{

    display: grid;
    grid-template-columns: auto auto;

}

.printspan, p, span{

    background-color: white;
    font-size: 111%;
    font-family: 'Times New Roman', Times, serif;

}

@keyframes PopUp {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}




